.login-page{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  overflow:auto;
  background: #d17e11;
  text-align:center;
  color:#fff;
  padding:3em
}

.login-page h1{
  font-weight:300
}

.login-page h1 small{
  color:rgba(255,255,255,.7)
}

.login-page .form-group{
  padding:8px 0
}

.login-page .form-content{
  padding:40px 0
}




