<!-- Footer -->
<footer>
  <!-- Container -->
  <div class="container">
    <!-- Row -->
    <div class="row text-center">
      <div class="col col-md-12 wow fadeInDown" data-wow-offset="30" data-wow-duration="0.3s" data-wow-delay="0.1s">
        <p class="copyrights"> &copy; 2015
          <a href="http://themeforest.net/item/comida-a-responsive-restaurant-html-template/12367783?ref=crelegant" target="_blank" class="foot_logo">Comida</a>,
          Crafted by <a href="http://themeforest.net/user/pixxli/portfolio?ref=pixxli" target="_blank"> Pixxli </a> &amp; <a href="http://themeforest.net/user/crelegant/portfolio?ref=crelegant" target="_blank">The Crelegant Team</a>, All Rights Reserved.</p>
      </div>
    </div>
    <!-- Row Ends -->
  </div>
  <!-- Container Ends -->
</footer>
<!-- Footer Ends -->
