<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" data-dismiss = "modal" aria-hidden="true">&times;</button>
  <h4>New Menú</h4>
</div>
<div class="modal-body">
  <div class="payment-online-form-left">
    <!--name="cart" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" id="formPaypal"-->
    <form>
      <body>
      <div class="container" style="background-color:#DCEAF4; width: 100%">
        <ul class="list-unstyled">
          <li><input class="text-box-dark" type="text" ng-model="nombre" placeholder="nombre" ng-keypress="MostrarBoton()"></li>
        </ul>
        <div class="clearfix"></div>
        <ul class="list-unstyled">
          <li><input class="text-box-dark" type="number" ng-model="precio" placeholder="precio" ng-click="MostrarBoton()" ng-keypress="MostrarBoton()"></li>
        </ul>
        <div class="clearfix"></div>
        <textarea rows="4" placeholder="descripción" ng-model="descripcion"></textarea>
      </div>
      </body>
      <ul class="payment-sendbtns">
        <li><input type="reset" value="Cancel" ng-click="cancel()"></li>
        <li><input type="submit" value="Process order" ng-click="pushMenu()" ng-show="visible"></li>
      </ul>
      <div class="clearfix"></div>
    </form>
  </div>
  <div class="payment-online-form-left"></div>
</div>
